@charset "ISO-8859-1";

.container{
	width:90%;
	height:50rem;
}

#head{
	width:100%;
	height:8vw;
	margin:10px 0px 0px 10px;
	padding:5px;
	background-color:red;
	box-shadow:5px 5px 10px black;
	color:white;
	font-size:2vw;
}

#nav{
	width:95%;
	height:5vw;
	padding:10px;
	margin-left:5px;
	background-color:green;
	box-shadow:5px 5px 10px black;
}

a{
	color:white;
	font-size:3vw;
	text-decoration:none;
}

a:hover{
	color:black;
}


.logo{
	width:15%;
	height:auto;
	margin-right:5px;
	border:solid 5px black;
	float:left;
	position:relative;
}

.cart {
	width:5%;
	height:auto;
	margin:10px;
	border-radius:5%;
	float:right;
}

.cart:hover{
	cursor:pointer;
	border:2px solid black;
}

.footer{
	width:100%;
	height:5rem;
	background-color:black;
	margin-top:10px;
	color:white;
	padding:5px;
	display:flex;
	justify-content:center;
	align-items:center;
}

.github{
	width:3rem;
	height:auto;
	display:inline-block;
	border-radius:50%;
}
.github:hover{
	width:4rem;
}

