.logo{
	width:15%;
	height:auto;
	margin-right:5px;
	border:solid 5px black;
	float:left;
	position:relative;
}

.special{
	width:20%;
	height:auto;
	display:block;
	margin:15px;
	border-radius:50%;
}

.special:hover{
	cursor:pointer;
}

.food{
	width:80%;
	height:auto;
	padding:5px;
	margin:5px;
	border:2px solid black;
	display:flex;
	align-items:flex-start;
	font-size:2vw;
}

#error{
	color:red;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:2vw;
	z-index:2;
}

#head{
	width:92%;
	height:8vw;
	margin:10px 0px 0px 10px;
	padding:5px;
	background-color:red;
	box-shadow:5px 5px 10px black;
	color:white;
	font-size:2vw;
}

#nav{
	width:85%;
	height:5vw;
	padding:10px;
	margin-left:5px;
	background-color:green;
	box-shadow:5px 5px 10px black;
}

a{
	color:white;
	font-size:3vw;
	text-decoration:none;
}

a:hover{
	color:black;
}

.popup{
	background:rgba(0,0,0,.6);
	width:100%;
	height:130%;
	position:absolute;
	top:0;
	display:none;
	justify-content:center;
}

.popup-content{
	height:10rem;
	width:20%;
	background:white;
	padding:2vw;
	margin-top:150px;
	border:5px red;
	border-radius:5px;
	box-shadow: 5px 5px 5px black;
	position:relative;
}

input{
	margin:.5vw auto;
	display:block;
	width:70%;
	padding:.2vw;
	border-radius:5px;
}

.welcome{
	font-size:2vw;
	color:blue;
	padding:0;
	margin:0 0 0 0;
	text-align:center;
}

.close{
	position:absolute;
	top:5px;
	left:5px;
	background:white;
	height:14%;
	width:8%;
	border-radius:50%;	
	cursor:pointer;
}

.button{
	width:75px;
	border-radius:5px;
	border:2px solid black;
	font-weight:bolder;
}

.button:hover{
	cursor:pointer;
	background-color:#c0c0c0;
	border:2px solid black;
}

.footer{
	width:95%;
	height:5rem;
	background-color:black;
	margin-top:10px;
}